/*

All of the CSS is copied from Scrimba with some minor adjustments.
Normally i would create a separate CSS file for each component
however in this case i'll leave styling for both the App and Die 
components in the same place.

*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(39, 35, 41);
  font-family: 'Karla', sans-serif;
}

main {
  background-color: #F5F5F5;
  box-shadow: 0px 0px 10px hsla(187, 10%, 64%, 0.5);
  min-height: 400px;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.webpage-container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.title {
  font-size: 2.5rem;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}

.die-face {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  width: 50px;
  max-height: 50px;
  aspect-ratio: 1/1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-face[data-number="1"] {
  background-image: url('./assets/images/dice-1.png');
}

.die-face[data-number="2"] {
  background-image: url('./assets/images/dice-2.png');
}

.die-face[data-number="3"] {
  background-image: url('./assets/images/dice-3.png');
}

.die-face[data-number="4"] {
  background-image: url('./assets/images/dice-4.png');
}

.die-face[data-number="5"] {
  background-image: url('./assets/images/dice-5.png');
}

.die-face[data-number="6"] {
  background-image: url('./assets/images/dice-6.png');
}

.die-num {
  font-size: 2rem;
}

.is-held {
  box-shadow: 0px 0px 10px #39925d;
}

.roll-dice {
  min-height: 50px;
  min-width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}