.title {
    font-size: 2.5rem;
    text-align: center;
}

.homepage-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info-boxes {
    display: flex;
    gap: 40px;
}

.info-box {
    padding: 20px;
    max-width: 270px;
    min-height: 180px;
    background-color: white;
    border-radius: 16px;
}

.info-box-title {
    font-size: 1.1875rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.leaderboard-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 200px;
}

.leaderboard-box p:first-of-type {
    font-size: 2rem;
}

.play-btn {
    width: 100%;
    background-color: #0066FF;
    border: 0;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

.play-btn:hover {
    box-shadow: inset 0px 0px 10px #052556;
}